<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">
</head>
<body>
  <div class="dis-flex flex-c-m bList">
    <div class="boardlist">
      <div class="board_head">
        <span class="board_name">자유게시판</span>
      </div>
      <table class="table_whole">
        <tr class="fs-18 m-b-10">
          <th class="column-1">글 번호</th>
          <th class="column-2">받는 사람</th>
          <th class="column-3">제목</th>
          <th class="column-4">게시일</th>
          <th class="column-5">조회수</th>
        </tr>
        <tr th:each="vo: ${list}">
          <td class="table_content" th:text="${vo.bid}"></td>
          <td class="table_content" th:text="${vo.account}"></td>
          <td class="table_content" th:text="${vo.title}"></td>
          <td class="table_content" th:text="${vo.regdate}"></td>
          <td class="table_content" th:text="${vo.visits}"></td>
        </tr>
      </table>
      <button class="write">작성하기</button>
    </div>
  </div>
</body>
</html>
