@charset "UTF-8";
body{
	background-color: #fff7ee;
}
.gList{
	width:1300px;
	height:900px;
	margin: 0px auto;
}
.oneGroup{
	position: relative;
	width: 200px;
	height:200px;
	border-radius: 20px;
	border: 1.5px solid #494949;
	background-color: #fd9c87;
	margin: 10px;
	padding : 15px;
	display: inline-block;
}
.oneGroupwithBtn{
	position:relative;
	width:210px;
	height:350px;
	margin: 15px;
	display: inline-block;
}
.enterBtn{
	position:relative;
	width:200px;
	height:30px;
	left:10px;
	border-radius: 20px;
	border: 1.5px solid #494949;
	background-color: none;
}
.gTitle{
	position : absolute;
	color:#bfe261;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:30px;
	font-weight:700;
	/* text-decoration: underline; 
	text-underline-position:under;
	text-underline-color:white; */
	text-shadow: -1.5px 0 #494949, 0 1.5px #494949, 1.5px 0 #494949, 0 -1.5px #494949;
}
.gPlus{
	position : absolute;
	left:80px;
	top:55px;
	color:white;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:50px;
	font-weight:700;
	text-shadow: -1px 0 #494949, 0 1px #494949, 1px 0 #494949, 0 -1px #494949;
}
.gMake{
	position : absolute;
	color:white;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:50px;
	font-weight:700;
	text-shadow: -1px 0 #494949, 0 1px #494949, 1px 0 #494949, 0 -1px #494949;
}
.plusGroup{
	position: relative;
	width: 200px;
	height:200px;
	border-radius: 20px;
	border: 1.5px solid #494949;
	background-color: dcedbc;
	margin: 10px;
	padding : 15px;
	display: inline-block;
	text-align: center;
}
.makeGroup{
	position: relative;
	width: 200px;
	height:200px;
	border-radius: 20px;
	border: 2px dashed #494949;
	background-color: none;
	margin: 15px;
	padding : 15px;
	display: inline-block;
	text-align: center;
}
.profiles{
	position:absolute;
	width:200px;
	height:50px;
	background-color:white;
	border-radius:0 0 20px 20px;
	border:1.5px solid #494949;
	bottom:-1.5px;
	right:-1.5px;
	color:#494949;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:15px;
	font-weight:500;
	padding-left : 15px;
	padding-right : 15px;
	padding-top : 8px;
}
.profilePic{
	display: inline-block;
	position:absolute;
	z-index:3px;
	width:45px;
	height:30px;
	right:10px;
}
.discrip{
	position:relative;
	top:50px;
	left:0px;
	color:#494949;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:17px;
	font-weight:500;
}

/***********************************************************/
/* 그룹만드는 모달창 CSS */
.dialogSubject{
	position:relative;
	top:30px;
	width:350px;
	height:65px;
	left:22%;
	border-radius: 40px;
	border: 1.5px solid #494949;
	background-color: #fd9c87;
	color:#bfe261;
	font-size:30px;
	text-align:center;
	padding-top:5px;
	font-weight:bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
.makeBtn{
	position:relative;
	width:100px;
	height:30px;
	left:30%;
	border-radius: 20px;
	border: 1.5px solid #494949;
	background-color: #fd9c87;
	color:white;
}
.cancelBtn{
	position:relative;
	width:100px;
	height:30px;
	left:35%;
	border-radius: 20px;
	border: 1.5px solid #494949;
	background-color: #93b8ef;
	color:white;
}
.dialogTitle1{
	margin-top:10%;
	padding-left:30px;
	font-size:20px;
	font-weight:bold;
}
.dialogTitle{
	margin-top:20px;
	padding-left:30px;
	font-size:20px;
	font-weight:bold;
}
.dialogContent{
	padding-left:30px;
}
.Gname{
	display:inline-block;
	padding-top:30px;
}
.Gnum{
	display:inline-block;
}
#person{
	width: 80px;
	height:35px;
    text-align: center;
}
#dt{
	width:200px;
	text-align:center;
}
#cont1{
	height:35px;
	padding-left:10px;
}
#cont2{
	padding-left:10px;
	padding-top:15px;
}