@charset "UTF-8";

/* matching페이지 wrap */
.matching_cnt{
	width:80%;
	min-height:800px;	
	margin: 0px auto;
	font-size: 15px;/*기본 15px;*/
	text-align: -webkit-center;
}

/*[COLOR]-main.css참조*/
.fc-red{color:red;}
.fc-blue{color:blue;}
.fc-gray{color:gray;}
.fc-yell{color:yellow;}

/* [font-weight] */
.fw-b{font-weight: bold;}
/*****************/
 
/****** 내프로필 _폰트  *****/
.account{
	right: 5px;
}
/**********************/
/*****  button *****/

/*******************/
/******  maniInfo 이미지크기  ******/
.Q{
	width: 250px;
    height: 250px;
    margin: 0px auto;
    width: 300px;
    height: 300px;
    margin-left: 18%;
    margin-top: 40px;	
}

/****  slide  *****/
/******************/

