@charset "UTF-8";

/* matching페이지 wrap */
.matching_cnt{
	margin: 50px;
	font-size: 15px;/*기본 15px;*/
}

/*[COLOR]-main.css참조*/
.fc-red{color:red;}
.fc-blue{color:blue;}
.fc-gray{color:gray;}
.fc-yell{color:yellow;}

/* [font-weight] */
.fw-b{font-weight: bold;}
/**/

/*slide*/
.boxSlide{
   position: absolute;
   width:800px;
   height: 300px;
   overflow: hidden;
   display: inline-block;
}
.makeOverflow{
   position : absolute;
   width:1500px;
   height: 250px;
   display: inline-block;
}
.inline1{
   position : relative;
   display: inline-block;
   width: 220px;
   height: 220px;
}
.oneUser{
	width: 220px;
	height: 250px;
	display: inline-block;
}
.poster{
   width:210px;
   height: 210px;
}
.userIcon{
   width: 200px;
   height: 200px;
}
/**/
