<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div class="bg08">
    <div>
      <div class="p-l-20">
        <button class="send"> 보낸편지함 </button>
        <button class="receive"> 받은편지함 </button>
      </div>
      <div class="letterbox">
        <div class="letterbox-s">
          <div class="l-line">
            <p class="l-date">날짜</p>
            <p class="l-content">내용</p>
          </div>
          <div class="l-reply">답장하기</div>
          
          <div class="l-date-c"> 2022-05-23 21:30 날짜반복 </div>
          <div class="l-content-c"> 별 내용은 없는데 일단 내용은 들어가야함~~! 내용반복</div>
          <div class="l-reply-c"> 화살표 이미지 </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>