<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/matching.css}">
<script src="https://code.jquery.com/jquery.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>  dialog 용-->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
		$(document).ready(function() {
			$('.makeOverflow').slick({
				prevArrow : $(".lefter"),
				nextArrow : $(".righter"),
				infinite : true,
				speed : 300,
				slidesToShow : 4,
				slidesToScroll : 1
			});
		});
</script>
<link rel="stylesheet" type="text/css" th:href="@{/css/matching.css}">
</head>
<body>
	<!-- side -->
	<div class="matching_cnt">
	
	<!-- slide -->
	<div class="box">
		<!-- <i class="fas fa-angle-double-left lefter"></i> -->
		<div class="makeOverflow">
				<div class="oneUser" th:each="vo,index:${test}">
						<div class="poster">
							<img th:title="${index.index}+1"
          						th:src="${index.index}+1>10?@{/img/matching/user_1.png}:@{/img/matching/user_} + (${index.index}+1) + '.png'"
         						th:data-no="${vo.uid2}">
         					<img th:title="${index.index}+1"
          						th:src="${index.index}+1>10?@{/img/matching/user_1.png}:@{/img/matching/user_} + (${index.index}+1) + '.png'"
         						th:data-no="${vo.uid1}">
							
						</div>
						<p class="rankTitle" th:text="${vo.uid2}"></p>
				</div>
		</div>
		<!-- <i class="fas fa-angle-double-right righter"></i> -->
	</div>
	<!-- end slide -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- dialog -->
	<!-- 
	<div class="box" id="dialog" th:title="" style="display:none"> 
    </div> 
    -->
    </div>
    <!-- end dialog -->
</body>
</html>
