<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.dialogbg{
	width:100%;
	height:100%;
	border-radius: 30px;
	border: 1.5px solid #494949;
	background-color: #e9fbff;
}
[title]{
	display:none;
}
</style>
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css"> -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
  $( function() {
     
    /* $( "#dialog" ).dialog(); */
    $('.plusGroup').hover(function(){
       $(this).css("cursor","pointer")
    },function(){
       $(this).css("cursor","")
    })
    
    // 아이콘 클릭시 처리 
    $('.plusGroup').click(function(){
       let no=$(this).attr("data-id");
       $.ajax({
          /* type:'get', */
          /* url:'/makegroup', */
          /* data:{'id':id}, */
          success:function(res)
          {
             console.log(res);
             
            /*  //let json=JSON.parse(res);
             $('#youtube').attr("src","http://youtube.com/embed/"+res.youtube)
             $('#lyric').text(res.lyric) */
             
             $('#dialog').dialog({
                autoOpen:false,
                width:600,
                height:600,
                modal:true
             }).dialog("open");
          }
       })
    })
})
</script>
</head>
<body>
	<div class="gList dis-flex flex-c-m">
	<div class="oneGroupwithBtn" th:each="vo:${list}">
		<div class="oneGroup" >
			<p class="gTitle" th:text="${vo.gname.length>=7?#strings.substring(vo.gname,0,7)+'...':vo.gname}"></p>
			<p class="discrip" th:text="${vo.description}"></p>	
			<div class="profiles">
				총 멤버 <p style='display:inline-block'th:text="${vo.num}"></p>명
				<img class="profilePic" th:src="@{/img/profiles.png}">
			</div>		
		</div>
		<button class="enterBtn">입장하기</button>
	</div>
	
	<div class="oneGroupwithBtn">	
		<button class="plusGroup" th:data-id="${id}">
			<p class="gPlus">+</p>
		</button>
		<button class="enterBtn">그룹 추가하기</button>
	</div>
		<!-- <div class="makeGroup">
			<p class="gMake">+</p>
		</div> -->
	</div>
	
	
	<div class="dialog" id="dialog" style="display:none"> 
		<div class="dialogbg">
		 <form method="post">
			<div class="dialogTitle">그룹이름</div>
				<div class="dialogContent"><input type=text></div>
				
			<div class="dialogTitle">그룹설명</div>
				<div class="dialogContent"><textarea rows="10" cols="58" name=content></textarea></div>
				
			<div class="dialogTitle">그룹인원</div>
				<div class="dialogContent"><input type="number"></div>
				
			<div class="dialogTitle">기간</div>
				<div class="dialogContent">
				<input type="text" id="dt" name="dt" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm')}" readonly>
				~
							<!-- 날짜만 할거면
							<input type="date">
							-->
				<input type="datetime-local" id="dt">	<!-- 시작시간보다 앞일 경우 알림 표시 -->
				</div>
				
			<div class="dialogTitle">
				<button class="makeBtn">생성하기</button>
				<button class="cancelBtn">취소</button>
			</div>
		 </form>
		</div>
	</div>
</body>
</html>