<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="gList dis-flex flex-c-m">
	<div class="oneGroupwithBtn" th:each="vo:${list}">
		<div class="oneGroup" >
			<p class="gTitle" th:text="${vo.gname.length>=7?#strings.substring(vo.gname,0,7)+'...':vo.gname}"></p>
			<p class="discrip" th:text="${vo.description}"></p>	
			<div class="profiles">
				총 멤버 <p style='display:inline-block'th:text="${vo.num}"></p>명
				<img class="profilePic" th:src="@{/img/profiles.png}">
			</div>		
		</div>
		<button class="enterBtn">입장하기</button>
	</div>
	
	<div class="oneGroupwithBtn">	
		<button class="plusGroup">
			<p class="gPlus">+</p>
		</button>
		<button class="enterBtn">그룹 추가하기</button>
	</div>
		<!-- <div class="makeGroup">
			<p class="gMake">+</p>
		</div> -->
	</div>
</body>
</html>